.home-button {
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    font-size: 13px;
    align-items: center;
    padding: 0px 16px;
    margin: 0;
}

.home-button img {
    margin-right: 8px;
}